/*Remember
    #id selector
    .class selector
*/

header {
    font-size: 25px;
    text-align: center;
}

nav {
    color: mediumpurple;
    border: 1px solid #555;
    font-size: 20px;
    text-align: center;
    background-color: lightgrey;
}

.mainContent {
    background-color: indianred;
    margin-right: 10%;
    margin-left: 10%;
    text-indent: 10px;
}

body {
    background-color: grey;
}