/*Remember
    #id selector
    .class selector
*/

nav {}

html {}

body {
    background-color: mediumpurple;
}

.collapsible-body {
    background-color: floralwhite;
}

.collapsible-header {
    font-weight: bold;
}