/*Remember
    #id selector
    .class selector
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: lightgrey;
}

main {
    flex: 1 0 auto;
    background-color: mediumpurple;
}

.collapsible-header {
    font-weight: bold;
}

.collapsible-body {
    background-color: floralwhite;
}

footer {
    background-color: lightgrey;
}

.parallax-container {
    height: 250;
}

.myInfo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}